@model IEnumerable<SalaoAutomovelI.Models.Carro>

@{
    ViewData["Title"] = "Cadastro de Carros";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a class="btn btn-info" asp-action="Create">Novo Carro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoCarroceria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCambio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCombustivel)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.PrecoCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoVenda)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCarroceria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCambio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCombustivel)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.PrecoCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoVenda)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nome)
            </td>
            <td class="text-right">
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
